
# URL directa al puerto 5432 (Solo usada por pnpm exec prisma db pull)
DIRECT_URL=

# URL de la aplicación
DATABASE_URL=

NODE_ENV="development"

#KEY del api del DNI
RENIEC_API_KEY=

#URL del api del DNI
RENIEC_API_URL=

#Llave para firmar la cookie de sesión
COOKIE_SECRET=

# LLave para firmar el Access Token (JWT)
JWT_ACCESS_SECRET=

# LLave para firmar el Refresh Token (JWT)
JWT_REFRESH_SECRET=